<nav class="flex flex-col rounded-e-lg items-center h-screen w-[80px] md:w-[220px] bg-[var(--color-primary)] fixed left-0 top-0 z-20 select-none">
  <div class="mt-6 mb-10 flex items-center justify-center">
    
  </div>

  <ul class="flex-1 flex flex-col gap-2 w-full items-center md:items-stretch">
    <li>
        <a routerLink="/home" class="block py-3 px-2 md:px-4 rounded text-white text-xs md:text-base hover:bg-white/20 hover:cursor-pointer transition text-center md:text-left">Accueil</a>
    </li>
    <li>
      <a routerLink="/ajouter-recette" class="block py-3 px-2 md:px-4 rounded text-white text-xs md:text-base hover:bg-white/20 hover:cursor-pointer transition text-center md:text-left">Ajouter une recette</a>
    </li>
    <li>
      <a routerLink="/vos-recettes" class="block py-3 px-2 md:px-4 rounded text-white text-xs md:text-base hover:bg-white/20 hover:cursor-pointer  transition text-center md:text-left">Vos recettes</a>
    </li>
    <li>
      <a routerLink="/decouvrir" class="block py-3 px-2 md:px-4 rounded text-white text-xs md:text-base hover:bg-white/20 hover:cursor-pointer  transition text-center md:text-left">Découvrir des recettes</a>
    </li>
    <li>
      <a routerLink="/favoris" class="block py-3 px-2 md:px-4 rounded text-white text-xs md:text-base hover:bg-white/20 hover:cursor-pointer  transition text-center md:text-left">Vos favoris</a>
    </li>
  </ul>

  <div class="w-full flex items-center justify-center md:justify-start">
    <button class="w-full md:w-full px-4 py-4 rounded bg-white/20 text-white text-xs md:text-base font-semibold hover:bg-white/30 transition">
      Se déconnecter
    </button>
  </div>
</nav>
